// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border-collapse: collapse;
}

td {
  padding: 12px;
}

.even {
  background-color: #D6E1C3;
}

.icon {
  text-align: center;
}

.icon > img {
  border: 1px blue solid;
  border-radius: 7px;
  width: 100px;
}

h1 > input {
  border: none;
  background: #e2e2e2;
  font-size: 1em;
  font-weight: bold;
  font-family: serif;
}